.top {
  height: 80px;
  width: 100%;
  display: flex; }
  .top p, .top span {
    magin-top: 50px; }

.cont {
  height: 260px;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .cont .left {
    height: 130px;
    width: 70%; }
  .cont .right {
    height: 130px;
    width: 30%;
    display: flex; }
    .cont .right img {
      height: 100px;
      width: 130px;
      margin-right: 10px; }

#say {
  width: 100%;
  display: flex;
  flex-direction: column; }
  #say h4 {
    display: flex; }
    #say h4 img {
      height: 30px;
      width: 30px; }
    #say h4 .sayTime {
      float: right; }
